---
title: HackCampus
containerClasses: main
_options:
  layout: app/layouts/main.static.hbs
---
<div class="hero orange container-fluid">
  <div class="hero-content col-md-10">
    <h1>We connect London's best startups with the next generation of software engineering talent.</h1>
    <p class="lead">Applications for the HackCampus internship programme 2018 are now open.</p>
    <a href="https://apply.hackcampus.io/" role="button" class="btn btn-light btn-lg">Apply now</a>
    <button type="button" class="btn btn-outline-light btn-lg"><span class="oi oi-play-circle" style="top: 2px;"></span> Watch the video</button>
    <p>Do you work at a company that could benefit from software engineering interns? <a href="/static/internship-programme-2018.pdf">Learn more</a></p>
    <!-- <div class="video">
      <iframe width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/0f0RXeZUM4k?controls=0&amp;showinfo=0" frameborder="0" style="margin:auto" allowfullscreen></iframe>
    </div> -->
  </div>
</div>
<div class="section about">
  <div class="container">
    <div class="about-item row">
      <div class="align-self-center col-lg-6">
        <h3>Learn the skills you can't get at university.</h3>
        <p>Being an effective programmer takes more than knowing the theoretical foundations. Doing an internship at a startup will help you gain real-world experience in team communication and project management that will set your CV apart from the rest.</p>
      </div>
      <div class="col-lg-6">
        <img width="100%" src="/images/2017-presentation.jpg" />
      </div>
    </div>
    <div class="about-item row">
      <div class="align-self-center col-lg-6 order-lg-12">
        <h3>Live with the smartest student hackers in Central London.</h3>
        <p>We provide you with a paid-for room in student accommodation in Central London, where you'll live with the other HackCampus interns working at startups over the summer. We've chosen the accommodation to be within short commuting distance to the participating companies' offices, and have made sure that you have a shared social space to get to know the other interns.</p>
      </div>
      <div class="col-lg-6">
        <img width="100%" src="/images/2017-cohort.jpg" />
      </div>
    </div>
    <div class="about-item row">
      <div class="align-self-center col-lg-6">
        <h3>Experience the London startup scene first-hand.</h3>
        <p>Apart from working with experienced engineers on your team, you'll also find that London boasts a huge number of meetups & events that cater to every possible interest. We will also organise exclusive events for the HackCampus cohort, where you'll get to meet some of the key players in the London startup scene.</p>
      </div>
      <div class="col-lg-6">
        <img width="100%" src="/images/2017-demo-day.jpg" />
      </div>
    </div>
  </div>
</div>
<div class="section testimonials dark">
  <div class="container">
    <div class="testimonial row">
      <div class="quotes align-self-center col-lg-6">
        <blockquote>
          You'll learn so many things that you usually don't learn at university, and you'll get to put into practice everything you know.
        </blockquote>
        <p>—<strong>Alicia</strong>, intern at <strong>Deliveroo</strong></p>
      </div>
      <div class="col-lg-6">
        <div class="video-container">
          <iframe class="video" src="https://www.youtube-nocookie.com/embed/0liufzGmfWM?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="testimonial row">
      <div class="quotes align-self-center col-lg-6 order-lg-12">
        <blockquote>
          The HackCampus accommodation was a fairly big surprise for me - it's really nice, and it's 20 minutes away from the office.
        </blockquote>
        <p>—<strong>Oscar</strong>, intern at <strong>Secret Escapes</strong></p>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="video-container">
          <iframe class="video" src="https://www.youtube-nocookie.com/embed/M1Lc8rrRSoI?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <div class="testimonial row">
      <div class="quotes align-self-center col-lg-6">
        <blockquote>
          It was a great experience - honestly, I didn't think it was going to be that fun and that interesting, and I'd do it again.
        </blockquote>
        <p>—<strong>Marta</strong>, intern at <strong>MyOptique</strong></p>
      </div>
      <div class="col-lg-6">
        <div class="video-container">
          <iframe class="video" src="https://www.youtube-nocookie.com/embed/j77_qYwsfxc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section partners">
  <div class="container-fluid">
    <div class="support">
      <p>HackCampus is supported by <a target="_blank" href="https://www.indexventures.com/">Index Ventures</a>.</p>
      <div class="index-logo"><img src="/images/logos/indexventures.png" /></div>
    </div>
    <div class="support">
      <p>We are partnering with <a target="_blank" href="https://www.employ-ability.org.uk/">Employ-Ability</a> to ensure a fair application process for everyone regardless of gender, race, age or disability.</p>
      <div class="employability-logo"><img src="/images/logos/employability.png" /></div>
    </div>
    <div class="row">
      <div class="companies col-sm-10 mx-auto">
        <div class="company"><img src="/images/logos/creditbenchmark.jpg" /></div>
        <div class="company"><img src="/images/logos/deliveroo.jpg" /></div>
        <div class="company"><img src="/images/logos/edited.jpg" /></div>
        <div class="company"><img src="/images/logos/justpark.jpg" /></div>
        <div class="company"><img src="/images/logos/myoptique.jpg" /></div>
        <div class="company"><img src="/images/logos/onefinestay.jpg" /></div>
        <div class="company"><img src="/images/logos/secretescapes.jpg" /></div>
        <div class="company"><img src="/images/logos/swiftkey.jpg" /></div>
        <div class="company"><img src="/images/logos/viagogo.jpg" /></div>
      </div>
    </div>
  </div>
</div>
<div class="section data dark">
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h2>Key data</h2>
        <pre>
  Start date:
    2018-06-25
  End date:
    2018-09-01
  Application deadline:
    2017-12-31
  Duration:
    10 weeks
  Weekly salary (guideline):
    £400
  Accommodation location:
    - Central London (Zone 1)
    - No extra cost to you!
  Available roles:
    - Frontend web development (JavaScript, React, Angular)
    - Backend development (Python, Java, C++, C#)
    - Mobile development (iOS, Android)
    - Data processing (Spark, Hadoop, PostgreSQL, MS SQL Server)
    - Infrastructure / dev ops (AWS, Azure, Docker)
        </pre>
      <a href="https://apply.hackcampus.io/" role="button" class="btn btn-light btn-lg">Apply now</a>
      <a href="/faq" role="button" class="btn btn-outline-light btn-lg">Read the FAQ</a>
      </div>
    </div>
  </div>
</div>
